header {
 width: 100%;
 //min-height: 100vh;
 min-height: 670px;
 background: url("../img/header-bg-0012.jpg") no-repeat center;
 background-size: cover;
 position: relative;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.header--navigation {
 position: absolute;
 top: 38px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 h1 {
  margin-left: 98px;
  a {
   cursor: pointer;
  }
 }
 .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 98px;
  li {
   font-family: $montserrat;
   font-size: 12px;
   text-transform: uppercase;
   line-height: 24px;
   font-weight: 600;
   color: rgba(25,25,25,1);
   margin: 0 13.4px;
   letter-spacing:1.2px;
  }
  li:first-child {
   margin-left: 0;
  }
  li:last-child {
   margin-right: 0;
  }
  li:hover {
   color: $subColor;
   cursor: pointer;
   transition: 1s;
  }
 }
}
.header--content {
 max-width: 480px;
 padding-top: 22px;
 margin-right: 122px;
 h2 {
  font-family: $montserrat;
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: rgba(29,29,29,1);
  letter-spacing:-0.9px;
  margin-bottom: 23px;
 }
 p {
  font-family: $nunito;
  font-size: 18px;
  line-height: 28px;
  letter-spacing:0.09px;
  color: rgba(120,120,120,1);
  margin-bottom: 33px;

 }
 .header--content-button {
  width: 180px;
  height: 54px;
  background-color: rgba(16, 201, 195, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $montserrat;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
 }
 .header--content-button:hover {
  transform: scale(1.05);
  transition: 0.3s;
 }
}

// menu button
.menu__mobile-button {
 display: inline-block;
 cursor: pointer;
 z-index: 5;
 margin-right: 50px;
 position: relative;
 top: -5px;
}

.bar1, .bar2, .bar3 {
 width: 35px;
 height: 5px;
 background-color: rgba(25,25,25,0.8);
 margin: 6px 0;
 transition: 0.4s;
}

.buttonChange .bar1 {
 -webkit-transform: rotate(-45deg) translate(-9px, 6px);
 transform: rotate(-45deg) translate(-9px, 6px);
}

.buttonChange .bar2 {
 opacity: 0;
}

.buttonChange .bar3 {
 -webkit-transform: rotate(45deg) translate(-8px, -8px);
 transform: rotate(45deg) translate(-8px, -8px);
}

.menuAction {
 left: 0!important;
 right: 0!important;
 transition: 1s;
}

@media screen and (min-width:851px) {
 .menu__mobile-button {
  display: none;
 }
}
@media screen and (max-width:850px) {
 li {
  margin: 20px 0!important;
  a {
   font-size: 36px;
   color: white;
  }
 }
 .menu {
  position: fixed;
  //display: none;
  background-color: rgba(0,0,0,0.7);
  left: 100%;
  top: 0;
  right: -100%;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 1s;
 }
 .header--navigation .menu {
  margin-right: 0;
  flex-direction: column;
 }
 .header--navigation h1 {
  margin-left: 50px;
 }
}


