@import "reset";
@import "variables+mixins";
@import "font";
@import "@media";



@import "header";
@import "about";
@import "skills";
@import "numbers";
@import "work";
@import "process";
@import "services";
@import "testomanials";
@import "clients";
@import "contacts";


@import "footer";
